<div class="left-side-bar">
  <div class="row">
    <div class="stats-widget col-md-12">
      <div class="row title-box">
        <div class="col-md-10 stats-widget-title">
          <h4>Your Stats</h4>
        </div>
        <div class="col-md-2">
          &nbsp;
        </div>
      </div>
      <div class="row">
        <div class="my-stats col-md-12">
          <span>47</span>
          <br>
          <p>Who has viewed your profile?</p>
        </div>
      </div>
      <div class="row">
        <div class="my-stats col-md-12">
          <span>398</span>
          <br>
          <p>Connections</p>
          <p><b>Grow Your Network!</b></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="empty-side-bar col-md-12">
      &nbsp;
    </div>
  </div>
</div>