<div class="sign-up-box">
  <h3 class="sign-up-title">Be Great At What You Do!</h3>
  <h4 class="sign-up-subtitle">Get Started! It's Free</h4>
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="emailOrMobile">Email or phone number</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password (6 or more characters)</label>
      <input type="password" class="form-control">
    </div>    
    <button type="submit" class="btn btn-default sign-up-button">Sign Up</button>
  </form>
</div>