<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header col-md-5">
        <a class="navbar-brand in-logo-reponsive " href="#">
          <img src="../../assets/logo_rect.png">
        </a>
      </div>
      <div class="col-md-7">
        <form class="navbar-form top-bar-form" #signInForm="ngForm">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Enter username or email..." name="emailOrUserName" [(ngModel)]="emailOrUserName" required>
            <input class="form-control" type="password" placeholder="Enter password..." name="password" [(ngModel)]="password" required>
          </div>
          <button class="btn btn-default navbar-btn top-bar-btn" (click)="submitLogin(); signInForm.reset();">Sign In</button>
          <span class="">
            <a>Forgot Password?</a>
          </span>
        </form>
      </div>
    </div>
  </nav>
</div>